* {
    box-sizing: border-box;
}

body {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

h1, h3 { /* ne marche pas sur h3 */
    color:darkorange;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
}