/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono&family=Roboto:ital@1&family=Rubik:wght@300&display=swap');

/* @font-face {
    font-family: 'Porton', sans-serif;
    src: url(/coiffhair/assets/fonts/Porton01/porton-regular.otf);
} */

:root {
    --container-bg-color: rgb(219, 222, 222);
    --container-bg-color-opacity: #dbdedec2;
    --font-color: #2f4f4f;
    --primary-color: #2f4f4f;
    --client-color: #0964cc;
    --pro-color: rgb(178, 39, 46);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

body {
    background: url(/assets/images/coiffeur.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pro {
    background: url(/coiffhair/assets/images/background-pro.jpg) no-repeat center center fixed;
    background-size: cover;
    color: var(--pro-color);
}

.main-title {
    transform: skewY(-3deg);
    font-size: 2rem;
    color: hotpink;
}

.client {
    color: var(--client-color);
}

.client-button,
.pro-button,
.infos-button,
.about-button,
.retour-button,
.delete-btn,
.nope-btn,
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--client-color);
    color: white;
    border: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
}

.client-button:hover {
    background-color: #258cd1;
}

.pro-button {
    background-color: var(--pro-color);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 9rem;
    justify-content: center;
}

.pro-button-header {
    border: 2px solid var(--pro-color);
    background: white;
    width: 4rem;
    color: var(--pro-color);
}

.pro-button:hover {
    background-color: #c64d4d;
}

.infos-button {
    background-color: var(--primary-color);
    width: auto;
}

.infos-button:hover {
    background-color: #4f7f7f;
}

.about-button {
    background-color: whitesmoke;
    color: var(--primary-color);
}

.about-button:hover {
    background-color: white;
}

.retour-button {
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
}

.delete-btn {
    background: red;
}

.search-btn {
    width: auto !important;
    height: auto !important;
    background: var(--container-bg-color);
    border: 2px solid var(--primary-color);
    padding: 3px 6px !important;
}

.search-input {
    width: 33dvw;
}

.blur,
.salons_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(219, 222, 222, 0.1);
    border: none;
    backdrop-filter: blur(5px);
}

.salons_container {
    min-height: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    row-gap: 15px;
    align-content: start;
    justify-content: center;
    padding: 20px 0;
}

.content,
.details_content,
.left,
.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* overflow: scroll; */
    padding: 20px 10px;
}

.details_content {
    flex-direction: row;
    padding: 0 20px;
    /*Pour capture vidéo*/
    /* margin-top: -4rem; */
}

.text-content {
    max-width: 90vw;
}

.left {
    width: 50%;
    height: 75dvh;
}

.right {
    /* padding: 5vw; */
    width: 50%;
    margin: 0 auto;
    margin-left: -3rem;
}

.small-container {
    background: var(--container-bg-color);
    border: 2px solid var(--primary-color);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    row-gap: 10px;
    margin: 0 40px 40px 0;
}

.icones_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first_line {
    font-size: 20px;
    color: var(--pro-color);
}

.titre,
h2,
.add_on {
    /* color: var(--primary-color); */
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 15px;
}

.error,
.error p {
    color: red;
    font-size: 14px;
}

.valid,
.valid p {
    color: rgb(40, 189, 40);
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input,
#proSelect,
select,
textarea {
    width: 200px;
    height: 30px;
    border: 2px solid var(--primary-color);
    padding: 3px;

}

select {
    width: 75px;
}

textarea {
    text-align: left;
    width: 300px;
    min-height: 100px
}

input[type="file"] {
    min-width: 303px;
    height: auto;
    border: 2px solid var(--primary-color);
    padding: px;
    background: none;
    color: var(--primary-color);
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

input[type="submit"] {
    width: 110px;
    height: 38.5px;
    text-align: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
}

.email-input {
    min-width: 230px;
}

.welcome-container {
    position: absolute;
    top: 25px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pages_header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background: #dbdedec2;
    z-index: 1;
    gap: 4vw;
    backdrop-filter: blur(5px);
}

.small-icon {
    height: auto;
    width: 100%;
}

#icone {
    width: clamp(4rem, 18vw + 1rem, 12rem);
    height: auto;
}

.small-icon:hover {
    transform: scale(1.1)
        /*rotateX(360deg) rotateY(360deg) rotateZ(360deg)*/
    ;
    transition: transform 0.5s ease-in-out;
}

.icone_suppr,
.icone_modif,
.icone_auto {
    width: 35px;
    transition: transform 0.5s ease-in-out;
}

.icone_suppr {
    border: none;
    background: transparent;
}

.icone_suppr:hover,
.icone_modif:hover,
.icone_auto:hover {
    transform: scale(1.3);
}

.ligne,
.ligne2 {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: stretch;
}

.ligne2 {
    flex-direction: column;
    align-items: center;
}

#today,
#horloge {
    font-size: 25px;
    color: var(--client-color);
}

.client-li {
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    width: 375px;
    max-height: 375px;
    overflow: auto;
    align-items: center;
    list-style-type: none;
    row-gap: 10px;
    border: 2px solid var(--client-color);
    border-radius: 12px;
    background: #dbdedec2;
    margin: 10px 0;
    gap: 12px;
}

.past-li {
    list-style-type: none;
    margin: 10px auto;
    max-width: 50%;
}

.pro-li {
    padding: 5px 8px;
    width: auto;
    height: auto;
    align-items: center;
    row-gap: 10px;
    border-radius: 12px;
}

.details {
    max-width: 80%;
    height: auto;
    overflow-wrap: break-word;
    /* retour à la ligne du texte */
    margin: 0 auto;
}

.details-client {
    overflow: auto;
    /* white-space: nowrap; */
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
}

.details-client p {
    text-align: left;
}

.gender {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.dateAndTime,
.salon {
    font-size: 1rem;
    white-space: nowrap;
    /*Empêcher le retour à la ligne*/
}

.dateAndTime span {
    font-size: 1.5rem;
    color: var(--client-color);
}

.salon {
    color: var(--client-color);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.likes,
.disabled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background: var(--primary-color); */
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    border: none;
}

.likes:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img404 {
    width: 50%;
    height: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    background: #dbdedecc;
    z-index: 1;
    gap: 8vw;
    /*Pour capture vidéo*/
    /* margin-top: -4rem; */
    /* Pas pratique parfois */
    /* position: fixed;
    bottom: 0;
    left: 0; */
}

/* si footer.position : fixed */
/* .card:last-of-type,
.presta_card:last-of-type {
    margin-bottom: 10dvh;
} */

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

hr {
    width: 20%;
    height: 1px;
    border: 1px solid var(--primary-color);
    margin: 15px 0;
}

.deco_button {
    color: red;
}

.btn-update-infos {
    width: 200px;
    height: 40px;
}

.big_img {
    max-width: 90%;
    max-height: 73dvh;
}

#big-icone {
    width: clamp(8rem, 55vw + 1rem, 28rem);
    height: auto;
}

.photo-profil {
    max-width: 200px;
    height: auto;
}

.link {
    color: var(--client-color);
}

.pop-up {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: clamp(25dvh, 50%, 57dvh);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-bg-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 66%;
    width: auto;
    min-height: 50dvh;
    z-index: 666;
}

.exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 4px;
    color: white;
    background-color: var(--pro-color);
}

.modify-rdv {
    color: #ff7f00;
    font-size: 30px;
}

/* .presta_container {
    Pour capture vidéo
    margin-top: -4rem;
} */

.presta_card {
    width: clamp(20rem, 60vw + 1rem, 40rem);
    overflow-wrap: break-word;
    padding: 10px;
    margin: 12px auto;
    background: var(--container-bg-color-opacity);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    height: 75dvh;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 60dvh;
}

#prevBtn,
#nextBtn {
    background: var(--primary-color);
    color: white;
}

.ul-rdv {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center
}

.about-text-container {
    background: #dbdedec2;
    padding: 20px;
    border: 2px solid var(--primary-color);
}

/* .date-select {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
} */

.previous,
.today,
.next {
    width: 30px;
    height: auto;
    cursor: pointer;
    user-select: none;
}

.previous {
    transform: rotate(-90deg);
}

.next {
    transform: rotate(90deg);
}

.today {
    transform: rotate(180deg);
}

.previous-today-next-div,
.pro-function-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.isOnHolidays {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isOnHolidays input {
    margin-left: -4rem;
}

/*Pas sûr que ça fonctionne bien*/
@media (max-width: 912px) {
    .big_img {
        max-width: 90%;
    }

    .ul-rdv {
        flex-direction: column;
    }
}

@media (max-width: 50rem) {

    body::before {
        background: url(/coiffhair/assets/images/background_mobile.jpg) no-repeat center center fixed;
        background-size: cover;
        /* background-position: 22% center; */
        background-position: -125px;
    }

    .small-container {
        background: none;
        border: none;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0 0 0 0;
        row-gap: 5px;
    }

    .ligne {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .welcome-container {
        flex-direction: column;
        justify-content: space-between;
        backdrop-filter: blur(5px);
        max-height: 97dvh;
    }

    .buttons {
        gap: 10px;
    }

    .img404 {
        width: 80%;
        height: auto;
    }

    .card {
        margin-top: 15px;
    }

    .details_content {
        flex-direction: column;
        padding: 0;
    }

    .left,
    .right {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }

    .right {
        margin: 0;
    }

    .pop-up {
        min-width: 100%;
    }

    .li {
        max-width: 90vw;
        height: auto;
        margin: 10px 0;
    }

    .search-input {
        width: 75%;
    }

    .about-text-container,
    .presta_card {
        border: none;
        background: none;
    }

    .client-li {
        max-width: 90vw;
        border: none;
        background: transparent;
    }

    .footer {
        margin-top: 0;
    }

    .previous-today-next-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}