@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Oswald&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Comic Neue', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/code_igniter_arthur/assets/images/coiffeur.jpg) no-repeat center center fixed;
    background-size: cover;
    transform: rotateX(180deg);
    z-index: -1;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url(/code_igniter_arthur/assets/images/coiffeur.jpg) no-repeat center center fixed;
    background-size: cover; */
    /* transform: rotateY(180deg); */
}

.container {
    width: 550px;
    min-height: 550px;
    background: rgba(219, 222, 222, 0.8);
    backdrop-filter: blur(5px);
    border: 3px solid darkslategray;
    /* box-shadow: 15px 15px 15px 5px rgba(18, 112, 30, 0.75); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 12px;
}

.icones_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.welcome {
    font-size: 25px;
    margin-right: 8px;
}

.titre {
    letter-spacing: 2px;
    color: hotpink;
    font-size: 42px;
}

h1,
h2,
h3,
h4,
p,
i {
    color: rgb(33, 35, 30);
}

.error {
    color: red;
    height: 18px;
}

.valid {
    color: rgb(40, 189, 40);
    height: 18px;
}

.info {
    color: rgb(217, 235, 15);
    height: 18px;
}

hr {
    width: 80%;
    border-top: 2px solid darkslategray;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
}

input {
    width: 200px;
    height: 30px;
    border: 2px solid darkslategray;
    text-align: center;
    padding: 3px;
    /* border-radius: 12px; */

}

select {
    width: 75px;
    height: 30px;
    border: 2px solid darkslategray;
    text-align: center;
    padding: 3px;
    /* border-radius: 12px; */

}

textarea {
    border: 2px solid darkslategray;
    text-align: center;
    padding: 3px;
    /* border-radius: 12px; */

}

input[type="submit"] {
    width: 110px;
    height: 30px;
    border: 2px solid darkslategray;
    /* border-radius: 12px; */
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid darkslategray;
    /* border-radius: 12px; */
}

#icone {
    width: 220px;
}

.icone_suppr,
.icone_modif {
    width: 35px;
}

ul {
    list-style-position: inside;
}

.ligne,
.ligne2 {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: stretch;
}

#today,
#horloge {
    font-size: 25px;
    color: hotpink;
}

.li {
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: stretch;
}

.gender {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
}

.toggleButton {
    /* make it transparent but not the text */
    background-color: transparent;


}